@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --swiper-navigation-size: 15px!important;
}

*{
  margin: 0;
  padding: 0;
}
.content{
  min-height: calc(100vh - 88px - 72px);
}
.swiper-button-prev,
.swiper-button-next {
  top: 12px!important;
  font-weight: 600!important;
  color: #008ECC!important;
}
.swiper-button-prev {
  left: auto!important;
  right: 30px!important; /* Adjust the left position as needed */
}

.swiper-button-next {
  right: 10px!important; /* Adjust the right position as needed */
}
.pagination ul{
  width: 100%;
}
#cb{
  accent-color: #008ecc;
}
tr:last-child {
  border-bottom: none;
}
#tr-head{
  border-bottom: 1px solid black;
}
@media print {
  #nonPrint {
    display: none;
  }
}